*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6rem;
}
#navList{
    list-style: none;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.navContainer{
    width: 100%;   
     padding-left: 8%;
    padding-right: 8%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: all linear 2s;
}
.container{
    height: 300vh;
    width: 100%; 
    overflow-x: none;

}
#logo{
    font-size: 1rem;
    color:black;
    display: inline;
}
nav{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
#navItem{
    display: flex;
    gap: 20px;
}
i{
    display: inline;
    padding-right: 7px;
}
.rightBox{
    transition: all linear 2s;

}
.contentBox{
    width: 84%;
    margin: auto;
    border: 1px solod black;


}
.item{
    display: flex;
    justify-content: space-around;
}
.rightBox img{
    width: 350px;
    height: 500px;
   margin-top: 2%;
    border-radius: 20px;
}

h1{
    margin-top: 10%;
    margin-bottom: 10%;
}
.leftBox{
    width: 63%;
    padding-left: 6%;
    background-color: #fae58c;
background-image: linear-gradient(90deg, #fff4c6 0%, #ffdbc0 100%);
border-radius: 20px;
transition: all linear 2s;

}
.btn {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top:10% ;
    margin-right: 2%;
  }
  
  .btn:hover {
    background: #243742;
    text-decoration: none;
    cursor: pointer;
  }
  .btn-logo{
    margin:10px;
    padding-left: 8px;
    border-radius: 50%;
    border: 1px;
    padding-top: 9px;
  }
  #git:hover{
    background-color:rgb(0, 255, 0);
    cursor: pointer;
  }
  #insta:hover{
    background: #d6249f;
    cursor: pointer;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#6a8fff 90%);
  }
#twitter:hover{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
cursor: pointer;
}
#linkedin:hover{
    background-color: rgb(89, 86, 254);
    cursor: pointer;
}
.fa{
    width: 40px;
    height: 30px;
}

.circle1 {

    background-color: #fff4c6;
    border-radius: 100%;
    box-sizing: border-box;
    filter: blur(2rem);
    height: 10rem;
    opacity: 80%;
    position: absolute;
    right: -30;
    top: 10;
    width: 10rem;
    z-index: 1;

}

.circle2 {

    background-color: #fff4c6;
    border-radius: 100%;
    bottom: -50;
    box-sizing: border-box;
    filter: blur(2rem);
    height: 8rem;
    left: -50;
    opacity: 80%;
    position: absolute;
    width: 8rem;
    z-index: 1;

}
.topofright{
    position: absolute;
    z-index: 2;
}
.active1 {
    animation-name: cix;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   animation-direction: alternate-reverse;



}

.active2 {
    animation-name: cix;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes cix {
    0% {
        background-color: rgb(255, 255, 255);
        left: 100px;
        top: 100px;
    }

    25% {
        background-color:rgb(255, 255, 255);
        left:200px;
        top: 50px;
    }

    50% {
        background-color:  rgb(255, 255, 255);
        left: 350px;
        top: 300px;
    }

    75% {
        background-color: rgb(255, 255, 255);
        left: 100px;
        top: 300px;
    }

    100% {
        background-color: rgb(255, 255, 255);
        left: 120px;
        top: 100px;
    }

}
.item2{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;

    transition: all linear 2s;

}
.left2 , .right2{
    overflow: hidden;
    border-radius:20px ;
}
.left2 img{
    height: 500px;
    width:  515px;
    border-radius:20px ;
    cursor: pointer;
    transition: transform .5s;
 
}

.right2 img{
    height: 500px;
    width:  515px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform .5s;
    

    
}
.right2 img:hover{
    transform: scale(1.05);
}
.left2 img:hover{
    transform: scale(1.05);
}
.item3{
    background-color: #fae58c;
    background-image: linear-gradient(90deg, #fff4c6 0%, #ffdbc0 100%);
    border-radius: 20px;
    padding-left: 6%;
}
.item3 h1{
    padding-top: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.hidden{
    opacity:0;
}
.show{
    opacity: 1;
}
.trhidden{
    opacity: 0;
    transform: translateY(-100%);
}
.boxhidden{
    opacity:0;
    transform: translateY(50%);

}
.trshow{
    opacity: 1;
     transform: translateY(0);
     
}